body{
    background:lightgray;
    position:relative;
    /*padding-left:250px;
    padding-bottom:40px;*/
    overflow-x: hidden;
}
#header{
    width:100%;
    height:90px;
    z-index:2500;
    padding-left:120px;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.8);
    color:lightgray;
}
#logo{
    position:absolute;
    height:70px;
    left:25px;
    top:10px;
    cursor:pointer;
}
.header-phones{
    font-size:14px;
    color:lightgray;
    margin-right: 13.5%;
}
.header-item{
    margin-right:13.5%;
    color:lightgray;
    font-size:18px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.header-item:hover{
    transition: background-color 0.3s;
    background-color:rgba(200, 200, 200, 0.2);
}

#slider{
    margin-top: 90px;
    padding-top: 2px;
}


.close{
    position:absolute;
    top:20px;
    right:20px;
}
.container{
    width:100%;
    padding: 0;
}
.item{
    position:relative;
    background: gray;
}
.left-panel{
    padding-top: 10px;
    left: 0;
    top: 90px;
    position: fixed;
    z-index: 2000;
    width: 30%;
    height: 100%;
    background: white;
    overflow-x: hidden;
    margin-right: 2%;
}
.right-column {
    padding-left: 31%;
    padding-right: 0;
}
.menu-level{
    margin-left: 10px;
}
.menu-item{
    margin-left: 10px;
    display: block;
    max-width:150px;
}

.contentImage{
    display:block;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
}

#book{
    height:90%;

}
#plane{
    z-index:10000;
    margin-bottom:10px;
    margin-left: 5%;
    width:90%;
    height:58%;
    border-radius:6px;
    border:solid 1px darkgray;

}
#content{
    width: 70%;
    margin-top: 1%;
    margin-left: 15%;
    background: white;
    border: solid 1px darkgray;
    margin-bottom: 40px;
}

.option{
    width:100%;
    position:relative;
    border-bottom: solid 1px black;
}
.primary{
    height:400px;
}
.secondary{
    height:310px;
}
.complain{
    height:250px;
}
.primary .contentImage{
    height:160px;
    top:30px;
}
.primary .text{
    width:75%;
    top:200px;
    padding-bottom: 25px;
    font-size: 15px;
}
.secondary .contentImage{
    height:120px;
    top:30px;
}
.secondary .text{
    width:65%;
    top:170px;
    padding-bottom: 30px;
    font-size: 14px;
}
.complain .contentImage{
    height:90px;
    top:20px;
}
.complain .text{
    width:55%;
    top:110px;
    padding-bottom: 20px;
    font-size: 12px;
}
.text{
    padding-left: 15px;
    padding-right: 15px;
    position:absolute;
    font-weight: 400;
    left:0;
    right:0;
    margin:auto;
    border-bottom: dashed 1px gray;
}
#oBook, #oPhone, #oComplain{
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    margin:auto;
    width:auto;
}
#oBook{
    width:211px;
}
#oPhone{
    width:144px;
}
#oComplain{
    width:127px;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    right: 0;
    left: 31%;
    color: darkgray;
    text-align: center;
    padding-bottom: 20px;
}

#background{
    position:fixed;
    display: none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 2800;
    background: rgba(0, 0, 0, 0.8);
}
.widget{
    background:white;
    z-index:2900;
    padding: 50px 20px 20px;
    border-radius:6px;
    display: none;
    position:fixed;
    width:40%;
    height:80%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    opacity:0;
    transition: opacity 0.3s ease-in;
}
.description {
    position: absolute;
    font-weight: 500;
    left: 8%;
    bottom: 10%;
    color: white;
    font-size: 40px;
    font-family: "Monotype Corsiva";
}
.enabled{
    opacity: 1;
}
.widget form{
    width:90%;
    margin-left: 5%;
}
.widget form label{
    display:block;
}
form{
    margin-top:-1.5%;
}
.widget form input, select{
    font-weight:300;
    display:flex;
    flex-direction:row;
    margin-left:10px;
}
.sum{
    position:absolute;
    bottom:10.2%;
    right:10%;
    width:10%;
}
.finished{
    position:absolute;
    bottom:20px;
    right:20px;
    width:100px;
}

#googleMap{
    position:relative;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom:2.5%;
    height: 50%;
    transition: all 0s;
}

@media(max-height: 850px){
    input, label, .widget p, .finished, .sum{
        font-size:12px;
    }

    textarea{
        font-size:14px;
    }

    .finished{
        width:80px;
    }
}

@media(max-height: 750px){
    input, label, .widget p, .finished, .sum{
        font-size:10px;
    }

    form{
        margin-top:-2%;
    }
    textarea{
        font-size:13px;
    }

    .finished{
        width:60px;
    }

    .left-panel{
        font-size:12px;
    }
    .sum h3{
        font-size:20px;
    }
}

@media(max-height: 650px){
    input, label, .widget p, .finished, .sum{
        font-size:8px;
    }
    form{
        margin-top:-2.8%;
    }
    textarea{
        font-size:12px;
    }
    .finished{
        width:40px;
    }
    .left-panel{
        font-size:11px;
    }
    .sum h3{
        font-size:16px;
    }
}

@media(max-height: 550px){
    input, label, .widget p, .finished, .sum{
        font-size:6px;
    }
    form{
        margin-top:-3%;
    }
    .sum h3{
        font-size:14px;
    }
    textarea{
        font-size:8px;
    }
    .left-panel{
        font-size:10px;
    }
}

@media(max-height: 450px){
    input, label, .widget p, .finished, .sum{
        font-size:4px;
    }
    .finished{
        width:10px;
    }
}

@media (max-width: 1680px) {
    .primary{
        height:350px;
    }
    .secondary{
        height:260px;
    }
    .complain{
        height:200px;
    }
    .primary .contentImage{
        height:110px;
    }
    .primary .text{
        top:150px;
        font-size: 13px;
    }
    .secondary .contentImage{
        height:70px;
        top:30px;
    }
    .secondary .text{
        top:120px;
        font-size: 12px;
    }
    .complain .contentImage{
        height:40px;
        top:20px;
    }
    .complain .text{
        top:60px;
        font-size: 10px;
    }

    #oBook{
        width:180px;
        font-size: 15px;
    }
    #oPhone{
        width:130px;
        font-size: 12px;
    }
    #oComplain{
        width:110px;
        font-size: 10px;
    }
}

@media (max-width: 1625px) {
    .header-item{
        margin-right:10.5%;
    }
    .gallery-item img{
        height:100px;
    }
    .gallery-item p{
        max-width:100px;
        font-size:11px;
    }

    .primary{
        height:350px;
    }
        height:260px;
    }
    .complain{
        height:200px;
    }
    .primary .contentImage{
        height:110px;
    }
    .primary .text{
        top:150px;
        font-size: 13px;
    }
    .secondary .contentImage{
        height:70px;
        top:30px;
    }
    .secondary .text{
        top:120px;
        font-size: 12px;
    }
    .complain .contentImage{
        height:40px;
        top:20px;
    }
    .complain .text{
        top:60px;
        font-size: 10px;
    }

    #oBook{
        width:180px;
        font-size: 15px;
    }
    #oPhone{
        width:130px;
        font-size: 12px;
    }
    #oComplain{
        width:110px;
        font-size: 10px;
    }
}
@media (max-width: 1225px) {
    .header-item{
        font-size: 16px;
        margin-right:8.5%;
    }
    .gallery-item img{
        height:75px;
    }
    .gallery-item p{
        max-width:75px;
        font-size:9px;
    }


    .primary{
        height:300px;
    }
    .secondary{
        height:210px;
    }
    .complain{
        height:150px;
    }
    .primary .contentImage{
        height:80px;
    }
    .primary .text{
        top:120px;
        padding-bottom: 10px;
        font-size: 11px;
    }
    .secondary .contentImage{
        height:40px;
        top:10px;
    }
    .secondary .text{
        top:65px;
        font-size: 11px;
    }
    .complain .contentImage{
        height:30px;
        top:20px;
    }
    .complain .text{
        top:50px;
        font-size: 8px;
        padding-bottom: 5px;
    }

    #oBook{
        width:150px;
        font-size: 12px;
    }
    #oPhone{
        width:110px;
        font-size: 10px;
    }
    #oComplain{
        width:90px;
        font-size: 8px;
    }

    .description{
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .header-item{
        font-size: 14px;
        margin-right:6.5%;
    }
    .gallery-item img{
        height:50px;
    }
    .gallery-item p{
        max-width:50px;
        font-size: 8px;
    }
    .primary .contentImage{
        top:5px;
    }

    .primary .text{
        top:90px;
        font-size: 11px;
    }

    .secondary .text{
        top:55px;
        padding-bottom: 15px;
    }

    .complain .contentImage{
        top:10px;
    }

    .complain .text{
        top:35px;
        padding-bottom: 1px;
    }
}

@media (max-width: 900px) {
    #content {
        width: 87%;
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media (max-width: 815px) {
    .header-item{
        font-size: 12px;
        margin-right:3.5%;
    }
    .description{
        font-size: 20px;
    }


    #content {
        margin-left: 2%;
        margin-right: 2%;
        width: 100%;
    }
}

@media (max-width: 650px) {
    .header-phones{
        display: none;
    }
    .header-item{
        font-size: 15px;
        margin-right:4.5%;
    }

    .left-panel {
        display: none;
    }
    .right-column{
        padding-left: 0px;
        padding-right: 0px;
    }
    #footer{
        left:0px;

    }

    #content {
        margin-left: 0px;
    }


}

@media (max-width: 600px) {
    .header-item{
        font-size: 12px;
        margin-right:2.5%;
    }

    .description{
        font-size: 10px;
    }
}

@media (max-width: 400px) {
   body{
        overflow-x: scroll;
    }
}