<% include common/header.ejs %>
<body>
<div id="header">
    <img src="images/Logo2.png" id="logo">
    <span class="header-phones">
        <span style="font-size: 24px;font-weight: 500;">UA ABS</span>
        <br>
        <span>(044) 343-21-32</span>
        <br>
        <span>(066) 921-34-11</span>
    </span>
    <button id="mainPage" class="header-item">Головна</button>
    <button id="infoPage" class="header-item">Інформація</button>
    <button id="servicePage" class="header-item">Послуги</button>
    <button id="contactPage" class="header-item">Контакти</button>

</div>

<div class="row">
<div class="left-panel panel-group">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Загальна інформація</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="menu-item" onclick="$('#infoPage').click();">Деталі про нашу компанію</a>
                </li>
                <li class="list-group-item">
                    <a class="menu-item" onclick="$('#servicePage').click();">Інформація про послуги, що ми надаємо</a>
                </li>
                <li class="list-group-item">
                    <a class="menu-item" onclick="$('#contactPage').click();">Де нас знайти й як із нами зв'язатись</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">Можливі дії</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="menu-item" onclick="$('#oBook').click();">Забронювати квиток</a>
                </li>
                <li class="list-group-item">
                    <a class="menu-item" onclick="$('#oPhone').click();">Замовити дзвінок</a>
                </li>
                <li class="list-group-item">
                    <a class="menu-item" onclick="$('#oComplain').click();">Відправити скаргу</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="right-column col-xs-12 ">
    <div id="slider">
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="images/slider0.jpg" alt="Plane" style="width:100%;">
                        <div class="description">
                            Ми надаємо найкращі послуги в області бронювання квитків на авіапольоти в Україні!
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/slider2.jpg" alt="Airport" style="width:100%;">
                        <div class="description">
                            Подорожуй для бізнесу та відпочинку!
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/slider1.png" alt="City" style="width:100%;">
                        <div class="description">
                            З нами ви можете спланувати свою подорож і витратити час лише на насолоду нею не хвилюючись про те, що щось не вдасться
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/slider3.png" alt="Asian City" style="width:100%;">
                        <div class="description">
                            З нами ви можете спланувати поїздку в будь-яку частину світу! Ми гарантуємо, що ви залишитесь задоволеними нашими послугами!
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
</div>


    <div class="row blocks1">
        <div class="col-xs-12 bblock">
            <div class="option primary">

                <div class="text">
                    Наша компанія спеціалізується на бронюванні квитків на літаки.
                    Ми працюємо зі всіма популярними авіалініями світу і пропонуємо дуже широкий сервіс.
                    Вже більше 10 мільйонів українців скористались нашими послугами і залишилися задоволеними.
                    Зробіть це й ви! Забронюйте потрібне вам місце зараз і будьте впевнені у гарній подорожі!
                </div>
                <button id="oBook" class="btn btn-lg btn-primary">Забронювати квиток</button>
            </div>

        </div>
    </div>

    <div class="row blocks2">
        <div class="col-xs-6 sblock call">
            <div class="option secondary">

                <div class="text">
                    Якщо у вас виникли якісь питання - замовте дзвінок від нашого оператора!
                    Ми працюємо цілодобово сім днів на тиждень і завжди готові вам допомогти!
                </div>
                <button id="oPhone" class="btn btn-success">Замовити дзвінок</button>
            </div>

        </div>

        <div class="col-xs-6  sblock ask">
            <div class="option complain">

                <div class="text">
                    Якщо ви залишилися чимось не задоволені, чи хочете подякувати нам за роботу, напишіть листа!
                    Ми намагаємося бути кращими для Вас!
                </div>
                <button id="oComplain" class="btn btn-sm btn-warning">Відправити коментар</button>
            </div>

        </div>
    </div>

    <div id="footer">&copy; UA Airline Booking Service</div>



</div>
</div>


<div id="background"></div>

<div id="details" class="widget">
    <button class="close">X</button>
    <div style="margin-left: 5%;margin-top: 5%;margin-right: 5%;">
        Нашій компанії вже 10 років. Всі ці роки ми допомагаємо нашим клієнтам запланувати їх подорож з будь-якої точки України.
        Ми співпрацюємо зі всіма аеропортами України і пропонуємо гнучкий і широкий перелік налаштувань який дозволить
        вам зіставити свій план зручний для вас.
    </div>
</div>

<div id="service" class="widget">
    <button class="close">X</button>
    <div style="margin-left: 5%;margin-top: 5%;margin-right: 5%;">
        Ми пропонуємо нашим клієнтам легке бронювання квитків на будь-які рейси до будь-яких країн зі всіх аеропортів України.<br>
        Якщо в вас виникли питання по сайту, ви можете замовити виклик оператора, який зв'яжеться з вами.<br>
        У разі, якщо ви не задоволені нашим сервісом - надсилайте нам скаргу! Ми завжди сприймаємо конструктивну критику і стаємо кращими.<br>
        Вже 10 млн. українців скористалися нашими послугами і залишилися задоволеними. Будьте наступним!
    </div>
</div>

<div id="contact" class="widget">
    <button class="close">X</button>
    <div id="googleMap"></div>
    <div style="margin-left: 8%;">
        Ми розташовані за адресою <i>вул. Григорія Сковороди 2, Київ, Україна</i><br>
        <b>Контактні номера телефонів:</b>
        <ul>
            <li>(066) 921-34-11</li>
            <li>(044) 343-21-32</li>
        </ul>
    </div>
</div>

<div id="book" class="widget">
    <button class="close">X</button>
    <img id="scheme" src="images/Scheme.svg" style="display: none">

    <canvas id="plane" width="1500" height="800">

    </canvas>
    <form>
        <label>Рейс:
            <select id="flight">
                <option value="paris" selected="selected">Київ - Париж</option>
                <option value="warsaw">Київ - Варшава</option>
                <option value="lviv">Київ - Львів</option>
                <option value="newyork">Київ - Нью-Йорк</option>
                <option value="london">Київ - Лондон</option>
                <option value="berlin">Київ - Берлін</option>
                <option value="rome">Київ - Рим</option>
            </select>
        </label>
        <label>Рейс:
            <select id="date">
            </select>
        </label>
        <label>ПІБ: <input type="text" class="nameInput" id="client"></label>
        <label>E-mail: <input type="email" class="mailInput" id="mail"></label>
        <label>Телефон: <input type="tel" class="phoneInput" id="tel"></label>
        <label>Адреса: <input type="text" class="addressInput" id="address"></label>
        <div class="sum"><h3>Ціна:</h3><span id="price">0 грн</span></div>
        <button class="finished active btn btn-info" id="order">Далі</button>
    </form>
</div>

<div id="phone" class="widget">
    <button class="close">X</button>
    <div style="margin-left:5%;width:90%;text-align: center;">
        <img src="images/phone-answering-service.png" style="display:block;width:90%;height:80%; margin-left:5%;">
        <p style="display:block;margin-top:5%;margin-bottom:10%;">Введіть ваші телефон й ім'я та ми вам передзвонимо!</p>
    </div>
    <form>
        <label>ПІБ: <input type="text" class="nameInput" id="client2"></label>
        <label>E-mail: <input type="email" class="mailInput" id="mail2"></label>
        <label>Телефон: <input type="tel" class="phoneInput" id="tel2"></label>
        <button class="finished active btn btn-info" id="orderCall">Далі</button>
    </form>
</div>

<div id="complain" class="widget">
    <button class="close">X</button>
    <form>
        <label>ПІБ: <input type="text" class="nameInput" id="client3"></label>
        <label>E-mail: <input type="email" class="mailInput" id="mail3"></label>
        <label>Телефон: <input type="tel" class="phoneInput" id="tel3"></label>
        <label>Адреса: <input type="text" class="addressInput" id="address3"></label>
        <label>Коментар: <br><textarea id="complaint" rows="15" cols="60" style="resize: none; margin-left:9px;"></textarea></label>
        <button class="finished active btn btn-info" id="sendComplaint">Далі</button>
    </form>
</div>

<div id="liqpay" style="z-index:9999999"></div>

<% include common/footer.ejs %>